<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="main-content">
      <h1>{{ page.title }}</h1>
      <p>{{ page.date | date: "%A %m/%d/%Y" }}</p>
      <article>
        {{ content }}
      </article>
      <a href="/index.html">Back home</a>
      <footer class="site-footer">
        <span class="site-footer-credits">{{ site.footer }}</span>
      </footer>
    </section>
  </body>
</html>
